<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

    <listeners>
        <listener class-name="com.hha.zoho.ExtentListeners.ExtentListeners"></listener>
    </listeners>

    <test verbose="2" preserve-order="true" name="Test1">
        <classes>
            <class name="com.hha.zoho.rough.LoginTest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <!--test verbose="2" preserve-order="true" name="Test2">
        <classes>
            <class name="com.hha.zoho.rough.TestCase2">
                <methods>
                    <include name="doLogin"/>
                </methods>
            </class>
        </classes>
    </test-->
</suite>